{% extends 'layoutAdmin.html.twig' %}

{% block title %}{{ parent() }} | Éditer un service{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adminOffer') }}
{% endblock %}

{% block body %}
    <h1 class="text-center py-5 mt-4">Éditer un service</h1>
    <div class="container">
            {{ include('adminOffer/_form.html.twig', {'button_label': 'Modifier'}) }}
        <div class="row mx-0">
            <a class="back text-decoration-none text-dark btn rounded-pill my-4 px-3 py-1"
               href="{{ path('admin_offer_index') }}">Retour</a>
        </div>
    </div>
{% endblock %}
