{% extends 'layoutAdmin.html.twig' %}

{% block title %}Modifier mes services{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adminOffer') }}
{% endblock %}

{% block body %}
    <h1 class="text-center py-5">Modifier mes services</h1>
    <div class="container edit">
        <div class="text-center align-items-center">
            {{ include('adminOffer/_form.html.twig') }}

            {{ include('adminOffer/_delete_form.html.twig') }}
        </div>
        <a class="back text-decoration-none text-dark btn rounded-pill my-4 px-3 py-1" href="{{ path('admin_offer_index') }}">Retour</a>

    </div>
{% endblock %}
