{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} | Mon profil{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}
{% block body %}
    <main>
        <div class="header mt-0 d-flex align-items-center justify-content-center">
            <h1 class="text-center text-light">Mon profil</h1>
        </div>
        <div class="container">
            <h2 class="text-center py-5">Vos informations d'entreprise</h2>
            <div class="row mx-0 my-5">
                <div class="offset-sm-3 col-md-3">
                    <p>Nom d'entreprise : </p>
                </div>
                <div class="offset-sm-1 col-md-4">
                    <b>{{ member.name | title }}</b>
                </div>
            </div>

            <div class="row mx-0 my-5">
                <div class="offset-sm-3 col-md-3">
                    <p>Email : </p>
                </div>
                <div class="offset-sm-1 col-md-4">
                    <b><a href="{{ member.email }}">{{ member.email }}</a></b>
                </div>
            </div>

            <div class="row mx-0 my-5">
                <div class="offset-sm-3 col-md-3">
                    <p>Logo : </p>
                </div>
                <div class="offset-sm-1 col-md-4">
                    <img src="{{ asset('uploads/logos/' ~ member.logo) }}" alt="Logo Entreprise {{ member.name }}">
                </div>
            </div>

            <div class="row mx-0 my-5">
                <div class="offset-sm-3 col-md-3">
                    <p>Secteur d'activité : </p>
                </div>
                <div class="offset-sm-1 col-md-4">
                    <b>{{ member.activity | capitalize }}</b>
                </div>
            </div>

            <div class="row mx-0 my-5">
                <div class="offset-sm-3 col-md-3">
                    <p>Compétences : </p>
                </div>
                {% for competence in member.competences %}
                    <div class="offset-sm-1 col-md-4">
                        <p class="badge badge-primary text-center text-capitalize px-2 my-2 py-2 mx-1">
                            {{ competence.name | capitalize }}
                        </p>
                    </div>
                {% endfor %}
            </div>

            <div class="row mx-0 my-5">
                <div class="offset-sm-3 col-md-3">
                    <p>Site internet : </p>
                </div>
                <div class="offset-sm-1 col-md-4">
                    <b><a href="{{ member.url }}">{{ member.url }}</a></b>
                </div>
            </div>

            <div class="row mx-0 my-5">
                <div class="offset-sm-3 col-md-3">
                    <p>Numéro de téléphone : </p>
                </div>
                <div class="offset-sm-1 col-md-4">
                    <b><a href="{{ member.phoneNumber }}">{{ member.phoneNumber }}</a></b>
                </div>
            </div>

            <div class="row mx-0 my-5">
                <div class="offset-sm-3 col-md-3">
                    <p>Résumé de votre entreprise : </p>
                </div>
                <div class="offset-sm-1 col-md-4">
                    <b>{{ member.abstract | capitalize }}</b>
                </div>
            </div>
            <hr>
            <p class="text-center py-5 mb-0">Besoin de changer vos informations ? <a href="{{ path('contact') }}">Contactez-moi !</a></p>
            <div class="d-flex justify-content-center py-2">
                <a href="{{ path('changePassword') }}"
                   class="button-yellow text-decoration-none btn-lg rounded-pill my-4 px-5 py-3">
                    Changer de mot de passe
                </a>
            </div>
        </div>
    </main>
{% endblock %}
