{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block stylesheets %}{{ parent() }}{{ encore_entry_link_tags('home') }}{% endblock %}
{% block body %}
    <a id="top"></a>
    <section class="my-0 py-0">
        <div class="see-further text-center container-fluid">
            <h1 class="my-5">IDEOZ</h1>
            <h2 class="my-5">Voir plus loin</h2>
            <p class="text-center col-lg-4 offset-lg-4 my-4 col-sm-12">Car il est nécessaire de se repenser pour
                façonner un monde durable, osons passer à l'action.

                IDEOZ vous propose du conseil stratégique au service de vos idées et des méthodes opérationnelles pour
                passer de l'idée au projet.
                IDEOZ c'est un écosystème en Région Centre Val de Loire qui apporte aux entreprises de nouvelles
                perspectives.
            </p>
        </div>
    </section>

        <section class="about-us text-center container-fluid">
            <h2>À Propos</h2>
            <div class="row mx-0">
                <div class="col-lg-3 offset-lg-1 about-us-text">
                    <h3 class="my-3">Qui suis-je ?</h3>
                    <p>

                    <h4 class="pb-2">Le consultant qui tisse le lien entre l’entreprise et tous les acteurs du
                        territoire Centre-Val
                        de Loire</h4>
                    <ul class="text-justify">
                        <li>Œuvrer aussi bien avec les entreprises qu’avec les acteurs du territoire</li>
                        <li>Connaissance des acteurs et leurs outils pour les avoir pratiqués activement</li>
                        <li>Parce qu’il s’implique personnellement dans cette relation qui fait partie intégrante de sa
                            mission
                        </li>
                    </ul>
                    </p>
                </div>

                <div class="col-lg-4">
                    <img src="{{ asset('build/images/simon.5246a7c9.png') }}" class="simon" alt="Simon ABRAHAM">
                    <h3 class="my-4">Simon ABRAHAM</h3>
                </div>

                <div class="col-lg-3 align-baseline about-us-text">
                    <h3 class="my-4">Les valeurs d'IDEOZ</h3>
                    <h4 class="pb-2">Le cabinet conseil qui permet d’oser</h4>
                    <ul class="text-justify">
                        <li>Même si on est petit et hésitant</li>
                        <li>Même pour un projet pas encore bien défini</li>
                        <li>Même si on craint d’engager des moyens qu’on n’est pas sûr d’avoir</li>
                        <li>Aussi pour se confronter à une perspective de changement qui peut faire peur</li>
                        <li>Une manière singulière où la coopération est au cœur</li>
                        <li>En interne avec l'entrepreneur ou le porteur de projet, son équipe, ses partenaires
                            externes
                        </li>
                        <li>Jusque dans la manière de s’associer à l’engagement autour du risque pris, de l’énergie
                            consacrée à la démarche, à la façon de financer et supporter les travaux
                        </li>
                    </ul>
                </div>
            </div>
            <a href="https://www.linkedin.com/in/simon-abraham-03b74216/">
                <img class="pt-3" src="{{ asset('build/images/linkedin-blue.1a718042.png') }}" class="mx-auto" alt="LinkedIn Link">
            </a>
        </section>
    <section class="service">
        <h2 class="text-center">Mes services</h2>
        <div class="container-fluid">
            <div class="row mx-0 justify-content-center">
                {% for service in services %}
                    <a href="" class="card p-3" style="width: 22rem;">
                        <div class="card-title my-3">
                            <h3>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmarks-fill"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4z"/>
                                    <path fill-rule="evenodd"
                                          d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
                                </svg>
                                {{ service.name }}
                            </h3>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between mb-3">
                            <div class="card-text">{{ service.abstract | raw }}</div>
                            <div class="align-self-end mr-4">
                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd"
                                          d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="contact py-0">
        <div class="bg-primary d-flex justify-content-center py-2">
            <a href="{{ path('contact') }}"
               class="button-yellow text-decoration-none btn-lg rounded-pill my-4 px-5 py-3">
                Contactez-moi
            </a>
        </div>
    </section>
    <section class="testimony">
        <h2 class="text-center">Témoignages</h2>
        <div class="container-fluid">
            <div class="row mx-0 justify-content-center">
                {% for testimony in testimonies %}
                    <figure class="d-flex flex-column align-items-center m-5">
                        <img class="img-figure" src="{{ testimony.ecosystem.logo }}" alt="logo ecosystem">
                        <h3 class="my-3 text-center">{{ testimony.ecosystem.name }}</h3>
                        <figcaption>
                            <img src="{{ asset('build/images/quotes.svg') }}" alt="quote" class="img quote-start pt-2"/>
                            {{ testimony.content | raw }}
                            <img src="{{ asset('build/images/quotes.svg') }}" alt="quote" class="img quote-end pb-2"/>
                        </figcaption>
                    </figure>
                {% endfor %}
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="#" class="button-yellow text-decoration-none btn-lg rounded-pill my-4 px-5 py-3">
                Tous les témoignages
            </a>
        </div>
    </section>
    <section class="ecosystem">
        <h2 class="text-center">Ecosystème</h2>
        <h3 class="text-center">Clients</h3>
        <div class="d-flex justify-content-between align-items-center client">
            <button id="slideLeftClient" type="button" class="btn text-primary pr-0 d-none d-xl-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                     class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
            </button>
            <div class="scrolling-wrapper text-center" id="clientScrolling">
                {% for client in clients %}
                    <div class="logo">
                        <a href="{{ client.url }}" target="_blank" class="text-decoration-none">
                            <div class="container-image text-center d-flex justify-content-center align-items-center">
                                <img src="{{ asset('uploads/' ~ client.logo) }}" alt="{{ client.name }}">
                                <div class="background">
                                    <p class="font-weight-bold">{{ client.name }}</p>
                                    <div class="text-left px-1">{{ client.abstract | raw }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <button id="slideRightClient" type="button" class="btn text-primary pl-0 d-none d-xl-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                     class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </button>
        </div>
        <h3 class="text-center">Partenaires</h3>
        <div class="d-flex justify-content-between align-items-center partner">
            <button id="slideLeftPartner" type="button" class="btn text-primary pr-0 d-none d-xl-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                     class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
            </button>
            <div class="scrolling-wrapper text-center" id="partnerScrolling">
                {% for partner in partners %}
                    <div class="logo">
                        <a href="{{ partner.url }}" target="_blank" class="text-decoration-none">
                            <div class="container-image text-center d-flex justify-content-center align-items-center">
                                <img src="{{ asset('uploads/' ~ partner.logo) }}" alt="{{ partner.name }}">
                                <div class="background">
                                    <p class="font-weight-bold">{{ partner.name }}</p>
                                    <div class="text-left px-1">{{ partner.abstract | raw }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <button id="slideRightPartner" type="button" class="btn text-primary pl-0 d-none d-xl-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                     class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </button>
        </div>
    </section>
    <section class="espace-co">
        <div class="image container-fluid">
            <h2 class="text-center pt-5 mb-5">Club Co-Oz</h2>
            <div class="d-flex justify-content-center align-items-center mb-5">
                <p class="text-justify text-primary">
                    Le club Co-oZ est un espace collaboratif dans le lequel je vous invite a inscrire votre entreprise.
                </p>
            </div>
            <h3 class="text-center mb-5">En quoi cela consiste ?</h3>

            <div class="d-flex justify-content-center align-items-center mb-3">
                <p class="text-justify text-primary">
                    Inscrivez votre structure et ses compétences clés dans un écosystème
                    coopératif régional.
                </p>
            </div>
            <div class="d-flex justify-content-center align-items-center mb-3">
                <p class="text-justify text-primary">Pourquoi ?</p>
            </div>
            <div class="d-flex justify-content-center align-items-center mb-3">
                <p class="text-justify text-primary">
                    Pour trouver des partenaires et identifier des nouvelles opportunitées de développement
                </p>
            </div>
            <div class="d-flex justify-content-center align-items-center mb-3">
                <p class="text-justify text-primary">
                    Pour plus d'informations contactez moi !
                </p>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <a class="button-yellow text-decoration-none btn-lg rounded-pill my-4 px-5 py-3" href="#">Inscrivez-vous !</a>
            </div>
            <div class="top d-flex justify-content-end ">
                <a class="svg mb-5" href="#top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                         class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd"
                              d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                    </svg>
                </a>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}{{ encore_entry_script_tags('home') }}
{% endblock %}

