{% extends 'layoutAdmin.html.twig' %}

{% block title %}Modifier les témoignages{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adminOffer') }}
{% endblock %}

{% block body %}
    <h1 class="text-center pt-3 my-5">Editer les témoignages</h1>
    <div class="container edit">
        {{ include('adminTestimony/_form.html.twig')}}
        <div class="row mx-0 justify-content-center">
            {{ include('adminTestimony/_delete_form.html.twig')}}
        </div>
        <div class="ml-4">
            <a class="back text-decoration-none text-dark btn rounded-pill my-4 px-3 py-1" href="{{ path('admin_testimony_index') }}">Retour</a>
        </div>
    </div>
{% endblock %}
