{% extends 'base.html.twig' %}

{% block title %}Témoignage{% endblock %}

{% block body %}
    <h1 class="text-center pt-3 my-5">Témoignage</h1>
    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ testimony.ecosystem.name}}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ testimony.content }}</td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <a title="Editer" href="{{ path('admin_testimony_edit', {'id': testimony.id}) }}" class="btn bg-primary text-white rounded m-2 p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>
        </a>
        {{ include('adminTestimony/_delete_form.html.twig') }}
    </div>
    <a title="Index" href="{{ path('admin_testimony_index') }}" class="btn bg-primary text-white rounded m-2 p-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
        </svg>
    </a>
{% endblock %}