{% extends 'baseEmail.html.twig' %}

{% block body %}
    <h1>Vous avez reçu un message de l'entreprise {{ app.user.username }} :</h1>

    <p>L'entreprise {{ app.user.username }} souhaite être mis en relation avec l'entreprise {{ ecosystem.name }}.</p><br>

    <p>Répondre par email : <a href="mailto:{{ app.user.email }}">{{ app.user.email }}</a></p>
{% endblock %}