{% extends 'layout.html.twig' %}

{% block title %}{{ parent () }} | Co-oZ - Projet {{ project.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('projects') }}
{% endblock %}

{% block body %}
    <main class="project">
        <div class="header mt-0 d-flex align-items-center justify-content-center">
            <h1>Fiche projet</h1>
        </div>
        <section class="container">
            <h2 class="text-center">{{ project.title | capitalize }}</h2>
            <div class="my-4">{{ project.presentation | raw }}</div>
            <p class="my-4"><span class="font-weight-bold">Ambition :</span> {{ project.purpose | capitalize }}</p>
            <p class="my-4"><span class="font-weight-bold">Compétences :</span>
                {% for competence in project.competence %}
                    {{ competence.name | capitalize }}
                {% else %}
                    Pas de compétences associées à ce projet
                {% endfor %}
            </p>
            <p class="my-4"><span class="font-weight-bold">Porteur de projet :</span> {{ project.owner.name }}</p>
            <div class="d-flex justify-content-center">
                <a href="{{ path("cooperative_project_participation", { id: project.id }) }}" class="button-yellow text-decoration-none btn-lg rounded-pill mt-4 px-4 py-3">
                    Participer à ce projet
                </a>
            </div>
        </section>
    </main>
{% endblock %}
