{% extends 'layout.html.twig'%}

{% block title %}{{ parent () }} | Co-oZ - {{ company.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('projects') }}
{% endblock %}
{% block body %}
    <main class="project">
        <div class="header mt-0 d-flex align-items-center justify-content-center">
            <h1>Fiche Entreprise</h1>
        </div>
        <section>
            <h2 class="text-center">{{ company.name }}</h2>
            <div class="container">
                <div class="row mx-0">
                    <div class="col text-center">
                        <img src="{{ vich_uploader_asset(company, 'logoFile') }}" alt="">
                    </div>
                    <div class="col">
                        <p>Secteur d'activité : {{ company.activity }}</p>
                        <p class="my-4">{{ company.presentation | raw }}</p>

                        <h4 class="my-2">Compétences</h4>

                            {% for competence in company.competences %}
                            <p class="badge badge-primary text-center text-capitalize px-2 my-2 py-2">
                                {{ competence.name | capitalize }}
                            </p>
                            {% endfor %}
                    </div>
                </div>
                <div class="text-center my-5 ">
                    <a class="btn btn-secondary rounded-pill text-white px-3 py-2 mx-3" href="{{ company.url }}">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                    </svg>
                                </span>Voir leur site</a>
                    <a class="btn btn-secondary rounded-pill text-white px-3 py-2" href="{{ path('cooperative_company_work', {'id' : company.id }) }}">
                             <span class="mr-2">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                 <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                                 </svg>
                             </span>Être mis en relation</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}