{% extends 'layoutAdmin.html.twig' %}

{% block title %}{{ parent() }} | Ecosystème - {{ ecosystem.name }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adminEcosystem') }}
{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">Ecosystème</h1>

    <div class=" container">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ ecosystem.name | title }}</td>
            </tr>
            <tr>
                <th>Numéro de téléphone</th>
                <td>{{ ecosystem.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Adresse email</th>
                <td>{{ ecosystem.email }}</td>
            </tr>
            <tr>
                <th>Site web</th>
                <td>{{ ecosystem.url }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td><img class="logo" src="{{ asset('uploads/logos/' ~ ecosystem.logo) }}" alt="{{ ecosystem.name }}"></td>
            </tr>
            <tr>
                <th>Activité</th>
                <td>{{ ecosystem.activity | capitalize }}</td>
            </tr>
            <tr>
                <th>Compétences</th>
                <td>
                    {% for competence in ecosystem.competences %}
                        {{ competence.name | capitalize }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ ecosystem.abstract | raw }}</td>
            </tr>
            <tr>
                <th>Présentation</th>
                <td>{{ ecosystem.presentation | raw }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ ecosystem.status is not null ? ecosystem.status.name | capitalize }}</td>
            </tr>
            </tbody>
        </table>

        <div class="button-list d-flex justify-content-center">
            <a class="text-decoration-none"
               href="{{ path('ecosystem_edit', {'id': ecosystem.id}) }}" title="Modifier">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                     class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd"
                          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
            </a>

            {{ include('admin/ecosystem/_delete_form.html.twig') }}
        </div>
        <div class="row mx-0">
            <a class="back text-decoration-none text-dark btn rounded-pill my-4 px-3 py-1"
               href="{{ path('ecosystem_index') }}">Retour</a>
        </div>
    </div>

{% endblock %}
