<nav class="navbar navbar-expand-xl bg-primary fixed-top justify-content-start">
    <button class="navbar-toggler m-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand navbar-logo m-xl-0 ml-4" href="{{ path("home") }}" target="_blank">
        <img src="{{ asset('build/images/logo.png') }}" alt="logo">
    </a>
    <div class="collapse navbar-collapse justify-content-end align-items-center my-3 my-xl-0" id="navbarNav">
        <ul class="navbar-nav d-lg-flex align-items-xl-center">
            <li class="nav-item mx-xl-3 mx-5 text-xl-center">
                <a class="nav-link text-light" href="{{ path('admin_home') }}">Accueil</a>
            </li>
            <li class="nav-item mx-xl-3 mx-5 text-xl-center">
                <a class="nav-link text-light" href="{{ path('admin_company_index') }}">Vos informations</a>
            </li>
            <li class="nav-item mx-xl-3 mx-5 text-xl-center">
                <a class="nav-link text-light" href="{{ path('admin_offer_index') }}">Services</a>
            </li>
            <li class="nav-item mx-xl-3 mx-5 text-xl-center">
                <a class="nav-link text-light" href="{{ path('admin_testimony_index') }}">Témoignages</a>
            </li>
            <li class="nav-item mx-xl-3 mx-5 text-xl-center">
                <a class="nav-link text-light" href="{{ path('ecosystem_index') }}">Écosystème</a>
            </li>
            <li class="nav-item mx-xl-3 mx-5 text-xl-center">
                <a class="nav-link text-light" href="{{ path('ecosystem_adhesion_index') }}">Demandes d'adhésion</a>
            </li>
            <li class="nav-item mx-xl-3 mx-5 text-xl-center">
                <a class="nav-link text-light" href="{{ path('admin_project_index') }}">Projets</a>
            </li>
            <li class="nav-item mx-xl-3 mx-5 text-xl-center">
                <a class="nav-link text-light" href="{{ path('admin_competence_index') }}">Compétences</a>
            </li>
            <li class="nav-item mx-xl-3 mx-5 text-xl-center">
                <a class="nav-link text-light" href="{{ path('admin_legal_notice_index') }}">Mentions légales</a>
            </li>
        </ul>
    </div>
</nav>