<nav class="navbar navbar-expand-lg bg-primary d-none d-sm-block fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand d-lg-none navbar-mobile-logo" href="{{ path("home") }}">
        <img src="{{ asset('build/images/logo.png') }}" alt="logo">
    </a>
    <div class="collapse navbar-collapse justify-content-center mx-lg-5 mt-5 mt-lg-0 mb-4 mb-lg-0" id="navbarNav">
        <ul class="navbar-nav ml-lg-5 ml-xl-5">
            <li class="nav-item mr-2 ml-5 ml-lg-0 align-self-lg-center">
                <a class="nav-link text-light" href="#">À propos</a>
            </li>
            <div class="nav-item dropdown mx-5 my-2 align-self-lg-center">
                <a class="dropdown-toggle text-light text-decoration-none py-2" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Mes services
                </a>
                <div class="dropdown-menu bg-primary" aria-labelledby="dropdownMenuLink">
                    {{ render(controller('App\\Controller\\HomeController::navbarOffer')) }}
                </div>
            </div>
            <li class="nav-item mr-5 d-none d-lg-block">
                <a class="navbar-brand" href="{{ path("home") }}"><img src="{{ asset('build/images/logo.png') }}" alt="logo"></a>
            </li>
            <li class="nav-item mr-lg-5 mr-2 ml-5 ml-lg-0 align-self-lg-center">
                <a class="nav-link text-light" href="{{ path('testimony_index') }}">Témoignages</a>
            </li>
            <li class="nav-item mr-lg-5 mr-2 ml-5 ml-lg-0 align-self-lg-center">
                <a class="nav-link text-light" href="{{ path('contact') }}">Contact</a>
            </li>
        </ul>
    </div>
        <ul class="navbar-nav d-flex justify-content-end">
            <li class="nav-item mr-sm-2 align-self-center">
                <a class="nav-link text-light icon-connexion" href="#">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0
                    0 0 0 6z"/>
                    </svg>
                </a>
            </li>
        </ul>
</nav>
